<html lang="en">
    
<%- include('./partial/head.ejs') %>

<body>
    <%- include('./partial/nav.ejs') %>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>OOPS... page not found 404</p>
    </div>
    <%- include('./partial/footer.ejs') %>

</body>
</html>